$primaryRed: #740d30;
$primaryBlue: #131b30;
$secondaryBlue: #007165;
$primaryGray: #8d919c;
$white: #ffffff;

:export {
  primaryRed: $primaryRed;
  primaryBlue: $primaryBlue;
  secondaryBlue: $secondaryBlue;
  primaryGray: $primaryGray;
  white: $white;
}
