$primaryRed: #740d30;
$primaryBlue: #131b30;
$secondaryBlue: #007165;
$white: #ffffff;

:export {
  primaryRed: $primaryRed;
  primaryBlue: $primaryBlue;
  secondaryBlue: $secondaryBlue;
  white: $white;
}
