@import "../../styles//themes.module.scss";

.createOrderPage {
  background-color: rgb(241, 246, 247);
  .optionBar {
    border-bottom: 1px solid rgb(239, 241, 247);
    z-index: 4;
    width: 100%;
    position: fixed;
    top: 77px;
    display: flex;
    height: 48px;
    background: white;
    padding: 0 24px;
    align-items: center;
    h4:not(:first-child):before {
      content: "/";
      margin: 0 2rem;
    }
    .refLink {
      color: $primaryGray;
      cursor: pointer;
    }
  }

  .pageWrapper {
    padding: 170px 0px 40px 24px;
    .optionSection {
      display: flex;
      flex-flow: row wrap;
      width: calc(100% - 450px);
      background-repeat: no-repeat;
      gap: 24px;
      margin-bottom: 100px;
    }
  }
}
